![](../images/cs312.png)
***
# 01 Teach : Team Activity A

## 1 - Objectives

- Write python code.
- Get Jupyter Notebook up and running.

## 2 - Overview

For today's team activity, you will be writing Python code to solve some simple coding problems.

### 3.1 - Python Basics

---
Write Hello World

In [1]:
print('hello world')

hello world

---
Create two variables and add them together.  Print the results.

In [5]:
a = 10
b = 2
c = a + b
print(c)

12

---
What is the 123 to the power of 5?

In [1]:
pow(123, 5)

28153056843

---
What does this code display?  Why?

```python
x = 110
if (1 < x < 100):
    print('true')
else:
    print('false')
```

In [5]:
print('false because 110 is NOT between 1 and 100.  It treats it as you read it.')

false because 110 is NOT between 1 and 100.  It treats it as you read it.

---
Given x = 9 and y = 99, write code to swap the values of these variables so x = 99 and y = 9

In [8]:
x = 9
y = 99

# Swap
x, y = y, x
print(x, y)

99 9

---
Give me an example of the python equivalence of C's '?:' ternary operator
```C
int x = 9;
int y = (x > 5) ? 1 : 2;
```

In [10]:
x = 9
y = (1, 2)[x > 5]
print(y)

2

### 3.2 - Loops

---
Display numbers 1 to 10 using a loop

In [12]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

---
Display numbers 1 to 10 seperated by commas using a loop

```
1, 2, 3, 4, 5, 6, 7, 8, 9, 10
```

---
Display the numbers that are multiples of 3 from 0 to 19 using a loop

---
Display a multiplication table 5 x 5 using loops

---
Using loop(s) and only a '*' or blank one at a time, display the following

```
     *    
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *
```

### 3.2 - Strings and Formating

---
Create two strings, "add" them together and then display the results

---
Given the string "ABCDE", display the 3rd character

---
Write code to calculate the length of the string "1234567890"

---
Given the string "The red house is on the hill", parse each word out to display

```
The
red
house
is
on
the
hill
```

In [ ]:
words = 'The red house is on the hill'

# Add code here

---
Use the python format() statement in a print() statement to display the following.  You can only use the variable x.
```python
The numbers 1 + 1 equal 2
```

In [ ]:
x = 1

# Write your print() statement here

---
Use the python print()/format() statements to display the word 'house' right aligned with width of 10 spaces. (The numbers are there to help you see that house is right aligned)
```
12345678901234567890
     house
```

In [3]:
print('12345678901234567890')
# Add you print() statement here
print('\thouse')

12345678901234567890
	house

---
Use the python print()/format() statements to display the float number following value as 3.14

In [9]:
pi = 3.141592653589793

# Add you print statement
print("%.2f" % pi)

3.14

---
Display the length of the string words.

In [8]:
words = 'The red house is on the hill'

# Add code here
len(words)

28

### 3.3 - Functions

---
Question: what does the statement 'pass' do?

Answer:

---
Complete this function that will take a value and return (value + 1)

In [ ]:
# Write function here

print(addOne(5))

---
Complete this factoral function using recursion

In [ ]:
def factoral(x):
    pass

print('5! =', factoral(5))

---
Complete this function so it can "return" the values 100 and 999.

In [ ]:
def returnTwo():
    pass

# Add code to call the returnTwo() function and handle two return values

### 3.4 - Lists

---
Create a list of numbers 1 to 10

---
Using the list created above, display the 3rd value in the list

---
Create two lists and combine them together

---
Create a list of ten values called "values".  Create another list based on the first 5 values in the list "values".

---
Create a list of even numbers from 1 to 100 in one statement.

---
With the above list of even numbers, count how many are in the list.

---
Create a tuple of values 1, 2 and 3

---
Using the above tuple, assign the variables a, b and c to be the values in the tuple.

---
Create a list of 10 values from 1 to 10.  Create a function that will take that list as an argument.  Have that function multiple each value by 3 and return the new list.
```python
Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
New list: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
```

In [ ]:
def multBy3():
    pass

# Create list

# Call function

# display the new list

### 3.5 - Dictionaries

Python dictionaries are like the C++ map container.

---
Create a dictionary where the integer 1 is mapped to "one", 2 => "two" and 3 => "three".  Also, write a print statement to display the full dictionary.

---
Using the above dictionary, write a print statement to display what 2 is mapped to.

### 3.6 - Sets

---
Create a set to hold even numbers from 1 to 20.  Also, display the full set using a print statement.

---
Write code to see if the number 12 is in your set above.

## 4 - Submission
There are nothing to submit